.App {
  text-align: center;
  margin-top: 10%;
  font-family: sans-serif;
}
.chatbox input{
  width: 400px;
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #333;
  background-color: #eaeaea;
}